@keyframes appears-contact {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
      animation-name: appears-contact;
  animation-duration: 1s;
}
.contact-detail{
    display: flex;
    flex-direction: column;
    margin-top: 8em;
    margin-bottom:40vh;
    background-color: white;
    width: 50%;
    border-radius: 1em;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.contact-detail a{
    margin-bottom: 1em;
}