@keyframes appears-dataIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
.formData{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.DataIn{
    display: flex;
    justify-content: center;
    padding-top:2em;
    padding-bottom: 4em;
    animation-name: appears-dataIn;
    animation-duration: 1s;
}

.inits{
    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: white;
    width: 25%;
    padding-top:2em;
    padding-bottom: 1em;
    border-radius: 1em;
    

}
.inits hr{
    width: 90%;
    border-top:3px solid #000716;
}
.inits h1{
    margin-top: 0;
    font-size: 2.2em;
    color:#0050A0;
    font-weight: 900;
    border-bottom:3px solid #0050A0;
    margin-bottom:1em;
}
.inits label{
    margin-bottom: 0.2em;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
 }

.inits input{
    margin-bottom: 1em;
    font-size: 1em;
    text-align: center;
    background-color: white;
    border:1px solid black;
    border-radius: 2em;

 }

 .inits input:focus{
    outline: none;
    background-color: rgba(0,0,0,0.1);
    transition:1s;
}

 .calcs{
     padding-top:1em;
     width: 100%;
     display: flex;
     justify-content: center;
 }

 .calcData{
     width: 20%;
     border-radius: 1em;
     font-size: 1.5em;
     font-weight: bold;
     color:white;
     background-color: #0050A0;
     margin:1em;
     height: 2em;
     border: 0;
     transition: 0.5s;
 }
 .calcData:hover{
     background-color: #73AC5E;
     color: black;
 }
 .calcData:focus{
    outline: none;
}
 .footer-first strong{
     color: #0050A0;
     font-size: bold;
 }

 //tabla
 .tableData{
    border-spacing: 0px;
    width: 100%;
    padding: 1em;
    font-size: 0.8em;
    text-align: center;
 }


 .tableData tr th{
     border: 1px solid black;
     padding:0.1em;
     background-color: #B5D6DC;
     width: 40%;
     
 }
 .tableData tr td{
    border: 1px solid black;
    padding:0.5em;
}
.vcRight{
    width: 60%;
}
