
.footer {
    background-color: #000716;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.2em;
    position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  }
  
  .footer img {
    vertical-align: middle;
    width: 40px;
    height: 40px;
  }
  .footer-first p{
    margin-right:2em;
    margin-top:0.8em;
  }
  .footer-first img{
      margin-right: 2em;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 767px) {
  .footer-first{
    font-size: 0.5em;
  }
  .footer-second{
    font-size: 0.5em;
  }
  .footer-first img{
    display: none;
  }
  .footer {
  height: 40px;
  }
  .footer-first p{
    margin-right:2em;
    margin-top:0.2em;
    margin-bottom:0.2em;
  }
  .footer-second p{

    margin-top:0.2em;
    margin-bottom:0.2em;
  }
  
}
@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}

