
.footer {
    background-color: #000716;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.2em;
  }
  
  .footer img {
    vertical-align: middle;
    width: 40px;
    height: 40px;
  }
  .footer-first p{
    margin-right:2em;
    margin-top:0.8em;
  }
  .footer-first img{
      margin-right: 2em;
}