.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.burger-button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    line-height: 45px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
    display: none;
  }
  

.imgContainer{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0em;
    
}


.logo-image{
    font-size: 2em;
    width: 90%;
    transition: 1s;
}

.logo-image:hover{
    font-size: 2.1em;

}
.logo-image h1{
    padding: 0;
    margin: 0;
    color: #000716 ;
    font-family: 'Permanent Marker';
    font-size: 1.2em;
}

.menu{
 width: 70%;

}
.menu ol{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style:none;

    height: 100%;
    margin:0;
    padding: 0;
}


.menu ol li{
  height: inherit;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.menu ol li a{
    background-color: transparent;
    display: flex;
    height: inherit;
    color: white;
    text-decoration: none;
    padding:0 0.4em 0 0.4em;
    margin: 0 1em 0 0.5em;
    align-items: center;
    transition: 0.5s;
    font-size: 1.2em;
    font-weight: bold;
  }
  .menu ol li a:hover{
    background-color: white;
    color: black;
  }


  @media screen and (max-width: 1024px) {

}

@media screen and (max-width: 767px) {
    
    .header{
        display: block;
    }
    .imgContainer{
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .hide-link{
      display: none !important;
    }
    .logo-image h1{

        font-size: 10vw;
        width: 100%;
    }

    .burger-button {
        display: block;
      }

      .menu.is-active {
        left: 0;
      }

      .menu {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 80vw;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: left;
        bottom: 0;
        transition: 0.5s;
        font-size: 0.6em;
        font-weight: bold;
      }
      .menu ol{
          display: flex;
          flex-direction: column;
          padding-top: 15em;
          padding-left: 5em;
      }

      .menu ol li{
        display: flex;
        flex-direction: column;
        height: 4em;
        font-size: 1.5em;
      }
      
}
@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}

  
