.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imgContainer{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}


.logo-image{
    font-size: 2em;
    width: 90%;
    transition: 1s;
}

.logo-image:hover{
    font-size: 2.1em;

}
.logo-image h1{
    padding: 0;
    margin: 0;
    color: #000716 ;
    font-family: 'Permanent Marker';
}

.menu{
 width: 70%;

}
.menu ol{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style:none;

    height: 100%;
    margin:0;
    padding: 0;
}


.menu ol li{
  height: inherit;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.menu ol li a{
    background-color: transparent;
    display: flex;
    height: inherit;
    color: white;
    text-decoration: none;
    padding:0 0.4em 0 0.4em;
    margin: 0 1em 0 0.5em;
    align-items: center;
    transition: 0.5s;
    font-size: 1.2em;
    font-weight: bold;
  }
  .menu ol li a:hover{
    background-color: white;
    color: black;
  }
  
