@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?u1mxsv');
  src:  url('./fonts/icomoon.eot?u1mxsv#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?u1mxsv') format('truetype'),
    url('./fonts/icomoon.woff?u1mxsv') format('woff'),
    url('./fonts/icomoon.svg?u1mxsv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change ./fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calculator2:before {
  content: "\e902";
}
.icon-calculator1:before {
  content: "\e901";
}
.icon-unpress:before {
  content: "\e903";
}
.icon-press:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e900";
}