html {
  scroll-behavior: smooth;
}

html, body{
    overflow: auto;
    padding: 0;
    margin: 0;
  }

body{
    display: block;
    background-color: black;
    font-family: 'Meera Inimai', sans-serif;
    margin: 0px;
    padding: 0px;
}

body::after {
    content: "";
    background-image: url('../images/mortgage5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
  }

  .container {
    /* border: 1px solid red; */
    /*max-width: 1000px;*/
    padding: 0 1em;
    max-width: 1300px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    flex-direction: inherit;

  }

    
  .active-link{
    background-color: #000716 !important;
    color: white !important;
  }
 


  @media screen and (max-width: 1024px) {

  }
  
  @media screen and (max-width: 767px) {
    .container {
     
      max-width: 100vw;
    
  
    }
        
  }
  @media screen and (max-width: 480px) {
  
  }
  
  @media screen and (max-width: 320px) {
  
  }
  
    
  

  